<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.ye.mapper.ExamMapper">
    <insert id="addExam">
        INSERT INTO exam_inf (exam_name,start_time,end_time,paper_id,user_id,reg_end_time) VALUES(#{examNameValue},#{startDate},#{endDate},#{paperId},#{userId},#{endRegDate});
    </insert>
    <select id="updateExamTable" resultType="indi.ye.pojo.ExamPojo">
        Select exam_inf.exam_id,exam_inf.exam_name,exam_inf.start_time,exam_inf.end_time,exam_inf.reg_end_time,exam_inf.exam_state,paper_inf.paper_name,user_inf.user_name
        FROM exam_inf
        LEFT JOIN paper_inf ON paper_inf.paper_id=exam_inf.paper_id
        LEFT JOIN user_inf ON exam_inf.user_id=user_inf.user_id AND exam_inf.user_id=#{userId} LIMIT #{page},5 ;
    </select>
    <update id="setExamState">
        UPDATE exam_inf SET exam_state = #{state} WHERE exam_id = #{examId};
    </update>
    <select id="selectExam" resultType="indi.ye.pojo.ExamPojo">
        Select exam_inf.exam_id,exam_inf.exam_name,exam_inf.start_time,exam_inf.end_time,exam_inf.reg_end_time,exam_inf.exam_state,paper_inf.paper_name,user_inf.user_name
        FROM exam_inf
        LEFT JOIN paper_inf ON paper_inf.paper_id=exam_inf.paper_id
        LEFT JOIN user_inf ON exam_inf.user_id=user_inf.user_id AND exam_inf.user_id=#{userId} AND exam_inf.exam_state=1;
    </select>
    <insert id="addInformation">
        INSERT INTO informatation_inf (informatation_tittle,informatation_text,exam_id,user_id) VALUES(#{tittle},#{text},#{examId},#{userId});
    </insert>
    <select id="selectRegs" resultType="indi.ye.vo.RegVo">
        Select reg_inf.reg_id,reg_inf.pass_state,reg_inf.reg_time,reg_inf.stu_id,reg_inf.exam_id,exam_inf.exam_name,stu_inf.stu_name
        FROM reg_inf
         JOIN exam_inf ON exam_inf.exam_id=reg_inf.exam_id
         JOIN stu_inf ON stu_inf.stu_id=reg_inf.stu_id AND reg_inf.exam_id=#{examId} LIMIT #{page},5 ;
    </select>
    <update id="getReg">
        UPDATE reg_inf SET pass_state = 1 WHERE reg_id = #{regId};
    </update>
    <update id="passReg">
        UPDATE reg_inf SET pass_state = -1 WHERE reg_id = #{regId};
    </update>
</mapper>