<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.ye.mapper.ProblemMapper">
    <insert id="addOneChooseProblem" parameterType="indi.ye.pojo.ProblemPojo"
            useGeneratedKeys="true" keyProperty="problem_id">
        INSERT INTO problem_inf (problem_text,problem_answer,type_id,project_id,user_id) VALUES(#{problemPojo.problem_text},#{problemPojo.problem_answer},#{problemPojo.type_id},#{problemPojo.project_id},#{problemPojo.user_id});
    </insert>
    <insert id="addOneChoose">
<!--        INSERT INTO choose_inf (choose_letter,choose_text,problem_id) VALUES('A','李白',3)-->
        INSERT INTO choose_inf (choose_letter,choose_text,problem_id) VALUES(#{letter},#{text},#{problem_id});
    </insert>
</mapper>