<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.ye.mapper.ProblemMapper">
    <select id="login" resultType="indi.ye.pojo.UserPojo">
        Select user_id,user_name,user_pwd,role_id,user_state from user_inf where user_tel = #{user_tel} and user_pwd = #{user_pwd};
    </select>

</mapper>